@{
    var stringFromViewBag = ViewBag.StringForPartial as string;
}

<script>
    function copyLink() {
        // Get the text field
        var copyText = document.getElementById("shortLink");

        // Select the text field
        copyText.select();
        copyText.setSelectionRange(0, 99999); // For mobile devices
        navigator.clipboard.writeText(copyText.value);
        alert("Copied the text: " + copyText.value);
    }
</script>

@if (!String.IsNullOrEmpty(stringFromViewBag))
{
    <div>
        <button class="btn" onclick="copyLink()"><i class="bi bi-clipboard"></i></button>
        <input style="width: 80%;" readonly id="shortLink" value="@stringFromViewBag" />
    </div>
}