<script type="text/javascript">
    function shortenLink() {
        var link = $('#linkInput').val();
        var customName = $('#customNameInput').val();

        $.ajax({
            url: '@Url.Action("ShortenLink", "Widget")',
            type: 'POST',
            data: { link: link},
            success: function (partialViewResult) {
                $('#linkContainer').html(partialViewResult);
            },
            error: function (xhr, status, error) {
                var errorMessage = "Error: " + xhr.status + " " + xhr.statusText;
                $('#linkContainer').html(errorMessage);
            }
        });
    }
</script>

<div class="card border-primary mb-3" style="max-width: 20rem;">
    <div class="card-header">Url Shortener</div>
    <div class="card-body">
        <div class="input-group mb-3">
            <input type="text" class="form-control" id="linkInput" placeholder="Enter Link" aria-label="Link Form" aria-describedby="button-addon2">
            <button class="btn btn-primary" type="button" onclick="shortenLink()" id="button-addon2">Shorten</button>
        </div>
        <div id="linkContainer">
            @Html.Partial("_ShortenedLinkPartial")
        </div>
    </div>
</div>