<style>
    .gssb_c{
        color: black !important;
    }
</style>
<div class="card border-primary mb-3" style="max-width: 20rem;">
    <div class="card-header">Google Search</div>
    <div class="card-body">
            <script async src="https://cse.google.com/cse.js?cx=737d37b548d974efc">
            </script>
            <div class="gcse-search"></div>
    </div>
</div>