@model IEnumerable<Dashboard>
<h1>Available Dashboards</h1>
<ul>
@foreach(var dashboard in Model)
{
        <li><a href="/Dashboard/@dashboard.Id">Dashboard: @dashboard.Name</a></li>
}
</ul>
<form action="/Dashboard/New" method="get">
<button type="submit" class="btn btn-success">Create Dashboard</button>
</form>