@model Dashboard
<form action="/Dashboard/Create" method="post">
    <label for="name">Name</label>
    <input type="text" placeholder="Name" id="name" name="Name" required>Name</input>
    <select multiple asp-for="Widgets" id="Widget" asp-items="ViewBag.widgetBag" placeholder="select widgets" class="form-control w-50 dropdown">
    </select>
    <button type="submit">Create</button>
</form>