@model Dashboard
<style>
    #buttonEdit {
        position: fixed;
        bottom: 5em;
        right: 1em;
    }
</style>
<h1 style="text-align:center;">@Model.Name</h1>
<hr></hr>
<div id="buttonEdit">
    <form action="/Dashboard/@Model.Id/Edit" method="get">
        <button type="submit" class="btn btn-primary"><i class="bi bi-gear-fill"></i></button>
    </form>
</div>

<div style="display:flex; flex-wrap:wrap; align-items:flex-start; gap:10px 20px;">
@if(Model.Widgets != null)
{
    foreach(var widget in Model.Widgets)
    {
        @Html.Partial($"{widget.Content}")
    }
}

<p>@Model.SerializeWidgets()</p>
</div>