@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
    <p>This website is a project to strengthen and display skills.</p>
    <p>These are some of the technologies implemented that we're new to me.</p>
</div>

<div style="text-align:center;">
    <ul style="display:inline-block;text-align:left;">
        <li>API's</li>
        <li>Moq Testing (WIP)</li>
        <li>Jquery</li>
        <li>Ajax</li>
    </ul>
</div>

<div class="text-center">
    <h3>What's <a href="https://github.com/jeremy-kimball/DeveloperDashboard">Developer Dashboard</a> about?</h3>
    <p>The idea to put it simply is to emulate the idea of a home screen from something like your phone, providing widgets with useful information or tools, but in a web format. It’s intended to be used as your home page and hopefully improve your workflow or productivity.</p>
</div>
<hr></hr>

<img></img>
<h3 class="text-center">About me</h3>
    I am a motivated individual looking to land my first job in the software development industry. I am very passionate about technology. I have a fascination with figuring out how things work and that has lead me to developing good problem solving skills especially in the realm of computers and software. My plans are to land my first job as a software developer as soon as I can after graduation, by way of applying myself fully to this goal and meeting people that will hopefully one day become a great professional support network. I would love to advance my career and meet the life goals that have always been in the back of my mind like supporting my family that has done so much for me over the years.

<div style="text-align:center">
    <ul style="list-style-type:none;display:inline-block;text-align:left;padding-left:unset;">
        <li>
            <h3>Find me</h3>
        </li>
        <li>
            <i class="bi bi-linkedin"></i>
            <a href="https://www.linkedin.com/in/jeremyckimball/">LinkedIn</a>
        </li>
        <li>
            <i class="bi bi-github"></i>
            <a href="https://github.com/jeremy-kimball">Github</a>
        </li>
    </ul>
</div>
