html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
#Weather {
    background-color: #274C77;
}
#Url_Shortener {
    background-color: #6096BA;
}
#Google_Search {
    background-color: #A3CEF1;
}

